#movieArea {
    @extend %main;

    .head {
        display       : flex;
        flex-direction: column;
        align-items   : center;
        gap           : 2rem;
        animation     : animateMe .5s ease-in-out;

        @keyframes animateMe {
            from {
                transform: translateY(-50%);
                opacity  : 0;
            }

            25% {

                opacity: .25;
            }

            50% {

                opacity: .5;
            }

            to {
                transform: translateY(0);
                opacity  : 1;
            }
        }

        h2 {
            color: $textColor;
        }

        .search {
            display      : flex;
            background   : inherit;
            width        : 95%;
            max-width    : 40rem;
            box-shadow   : 0 0 2px 4px $shadow;
            padding      : .5rem 1.5rem !important;
            gap          : 1rem;
            border-radius: $barRadius;

            input {
                background: inherit;
                border    : none;
                outline   : none;
                box-shadow: none;
                height    : 100%;
                font-size : 1.1rem;
                color     : $textColor;

                &::placeholder {
                    color: $textColor;
                }
            }

            span {
                cursor: pointer;
                color : $textColor;
            }
        }
    }

    .movies {
        height               : 100%;
        overflow             : auto;
        overflow-x           : hidden;
        display              : grid;
        grid-template-columns: repeat(auto-fit, 15rem);
        gap                  : 1rem;
        justify-content      : center;
        padding              : .5rem 0 !important;

        .movie {
            height        : 17rem;
            cursor        : pointer;
            display       : flex;
            flex-direction: column;
            border-radius : calc($barRadius / 2);
            overflow      : hidden;
            position      : relative;
            background    : #fff;
            animation     : animateMovie .5s ease-in-out;
            transition    : .5s ease-in-out all;

            &:hover {
                .overlay {
                    display: block;
                }

                transform: translateY(-2%);
                transform: scale(.9);
            }


            @keyframes animateMovie {
                from {
                    transform: translateY(50%);
                    opacity  : 0;
                }

                25% {

                    opacity: .25;
                }

                50% {

                    opacity: .5;
                }

                to {
                    transform: translateY(0);
                    opacity  : 1;
                }
            }



            .overlay {
                display    : none;
                position   : absolute;
                background : #00000772;
                width      : 100%;
                height     : 100%;
                padding    : 1rem !important;
                color      : $textColor;
                font-weight: bold;

            }

            img {
                width : 100%;
                height: 100%;
            }

            .info {
                padding   : 1rem !important;
                text-align: right;
                color     : $textColor;
            }

        }
    }
}